{cover_enabled, true}.
{deps, [
        {getopt, "0.8.2",
                 {git, "https://github.com/jcomellas/getopt.git",
                        {tag, "v0.8.2"}}},
        {cf_lang, "0.1.0",
                  {git, "https://github.com/joergen7/cf_lang.git",
                        {branch, "master"}}}
       ]}.
{escript_incl_apps, [getopt, cf_lang]}.
{edoc_opts, [
		{private, true}
	]}.
