{erl_opts, [debug_info]}.

{deps, [{getopt, "1.0.3"},
        {jsone, "1.9.0"}]}.

{escript_incl_apps, [getopt, jsone]}.

{profiles,
 [{test, [{cover_enabled, true}]}]}.

{dialyzer, [{warnings, [unmatched_returns,
                        error_handling]},
            {plt_extra_apps, [getopt, jsone]}]}.

{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               deprecated_function_calls,
               deprecated_functions]}.

{project_plugins, [rebar3_efmt]}.
