{erl_opts, [debug_info]}.
{cover_enabled, true}.
{deps, [{getopt, "1.0.3"},
        {jsone, "1.9.0"}]}.
{escript_incl_apps, [getopt, jsone]}.
{dialyzer, [{warnings, [unmatched_returns,
                        error_handling,
                        underspecs]},
            {plt_extra_apps, [getopt, jsone]}]}.
{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               deprecated_function_calls,
               deprecated_functions]}.
{project_plugins, [covertool, rebar3_efmt]}.
